<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>공지사항 글쓰기</title>
  <link rel="stylesheet" th:href="@{/css/noticeWrite.css}">
</head>
<body>
  <header class="header">
    <nav class="notice-head">
      <div class="logo">공지사항 글쓰기</div>
    </nav>
  </header>
    <main class="noticeWriteBody">
      <form  th:action="@{/noticeUpdate/{id}(id=${notice.id})}" method="post">

        <label for="title">제목:</label>
        <input type="text" id="title" name="title" th:field="*{notice.title}" />

        <label for="contents">내용:</label>
        <textarea id="contents" name="contents" th:field="*{notice.contents}"></textarea>

        <label for="author">작성자:</label>
        <input type="text" id="author" name="author" th:field="*{notice.author}" />

        <button type="submit">수정하기</button>
      </form>
    </main>
  <footer class="footer">
    <p>&copy; 2024 Are you ready to fight? ●Always-Ready●</p>
  </footer>
</body>
</html>