<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>공지사항 게시판</title>
    <link rel="stylesheet" th:href="@{/css/notice.css}">
</head>
<body>
<header class="header">
    <nav class="notice-head">
        <div class="logo">공지사항</div>
    </nav>
</header>
<main>
    <table>
        <form action="/board/notice" th:action="@{/board/notice}" method="get">
            <input class="search-text" type="text" name="keyword" placeholder="검색어를 입력하세요">
            <button type="submit">검색</button>
        </form>
        <thead>
        <tr>
            <th></th>
            <th>게시물번호</th>
            <th>제목</th>
            <th>작성자</th>
            <th>조회수</th>
            <th>작성일자</th>
            <button id="deleteAllButton" type="button">삭제</button>
        </tr>
        </thead>
        <tbody>
        <tr class="notice-item" th:each="prod : ${noticeList}" th:attr="data-id=${prod.id}">
            <td>
                <input type="checkbox" class="notice-checkbox" th:attr="data-id=${prod.id}">
            </td>
            <td th:text="${prod.id}">1</td>
            <td th:text="${prod.title}">제목</td>
            <td th:text="${prod.author}">작성자</td>
            <td th:text="${prod.views}">조회수</td>
            <td th:text="${prod.createDate != null ? #dates.format(prod.create_date, 'yyyy-MM-dd') : 'N/A'}">등록일</td>
        </tr>
        </tbody>
        <button type="button" class="noticeWriteButton" id="noticeWriteButton" name="noticeWriteButton">
            글쓰기
        </button>
    </table>
</main>
<footer class="footer">
    <p>&copy; 2024 Are you ready to fight? ●Always-Ready●</p>
</footer>
<script th:src="@{/js/notice.js}"></script>
</body>
</html>