<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>공지사항 게시판</title>
    <link rel="stylesheet" th:href="@{/css/notice.css}">
</head>
<body>
<header class="header">
    <nav class="notice-head">
        <div class="logo">공지사항</div>
    </nav>
</header>
<main>
    <table>
        <!-- 검색 필드와 버튼 추가 -->
        <div>
            <input type="text" id="searchInput" placeholder="검색어를 입력하세요">
            <button id="searchButton" type="button">검색</button>
        </div>
        <thead>
        <tr>
            <th></th>
            <th>게시물번호</th>
            <th>제목</th>
            <th>작성자</th>
            <th>조회수</th>
            <th>작성일자</th>
            <button id="deleteAllButton" type="button">삭제</button>
            <button id="deleteSelectedButton" type="button">선택 삭제</button>
            <!-- 필터 입력 필드와 버튼 추가 -->
            <div>
                <input type="text" id="filterInput" placeholder="작성자 이름 입력">
                <button id="filterButton" type="button">필터</button>
            </div>
        </tr>
        </thead>
        <tbody>
        <tr class="notice-item" th:each="prod : ${noticeList}" th:attr="data-id=${prod.id}">
            <td>
                <input type="checkbox" class="notice-checkbox" th:attr="data-id=${prod.id}">
            </td>
            <td th:text="${prod.id}">1</td>
            <td th:text="${prod.title}">제목</td>
            <td th:text="${prod.author}">작성자</td>
            <td th:text="${prod.views}">조회수</td>
            <td th:text="${prod.create_date}">등록일</td>
        </tr>
        </tbody>
        <button type="button" class="noticeWriteButton" id="noticeWriteButton" name="noticeWriteButton">
            글쓰기
        </button>
    </table>
</main>
<footer class="footer">
    <p>&copy; 2024 ●All-Rights●. All rights reserved.</p>
</footer>
<script th:src="@{/js/notice.js}"></script>
</body>
</html>