<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>공지사항 상세보기</title>
    <link rel="stylesheet" th:href="@{/css/notice.css}">
</head>
<body>
    <header class="header">
        <nav class="notice-head">
            <div class="logo">공지사항 상세보기</div>
        </nav>
    </header>
    <main>
        <h1>공지사항 상세보기</h1>
        <form th:action="@{/noticeUpdate/{id}(id=${notice.id})}" method="post">
            <label for="title">제목:</label>
            <input type="text" id="title" name="title" th:value="${notice.title}" required />

            <label for="contents">내용:</label>
            <textarea id="contents" name="contents" required th:text="${notice.contents}"></textarea>

            <label for="author">작성자:</label>
            <input type="text" id="author" name="author" th:value="${notice.author}" required />

            <div class="button-container">
                <button type="submit">수정하기</button>
                <button type="button" onclick="history.back()">뒤로가기</button>
            </div>
        </form>
    </main>
    <footer class="footer">
        <p>&copy; 2024 Are you ready to fight? ●Always-Ready●</p>
    </footer>
    <script th:src="@{/js/notice.js}"></script>
</body>
</html>