<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>League of Legends 로그인</title>
    <link rel="stylesheet" th:href="@{/css/login.css}">
</head>
<body>
<div class="login-container">
    <div class="logo">
        <img th:src="@{/images/icon.png}" alt="League of Legends">
    </div>

    <form th:action="@{/main}" method="post" id="loginForm">
        <div th:if="${param.error}" class="error-message">
            소환사명 또는 비밀번호가 올바르지 않습니다.
        </div>
        <div class="input-group">
            <input type="text" id="username" name="username" placeholder="소환사명" required>
        </div>
        <div class="input-group">
            <input type="password" id="password" name="password" placeholder="비밀번호" required>
        </div>
        <button type="submit" class="login-btn">로그인</button>
    </form>
    <div class="additional-links">
        <a th:href="@{/signup}">회원가입</a>
        <a th:href="@{/findpassword}">비밀번호 찾기</a>
    </div>
</div>
<script th:src="@{/js/login.js}"></script>
</body>
</html>