<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>메인페이지</title>
    <link rel="stylesheet" href="/css/LoginMain.css">
</head>
<body>
    <div class="overlay"></div>

    <div class="login-container">
        <h1>로그인</h1>
            <form id="loginForm" method="post" action="/login">
                <div class="form-group">
                    <label for="gameName">라이엇 계정</label>
                    <input type="text" id="gameName" name="gameName" required>
                </div>
                <div class="form-group">
                    <label for="tagLine">비밀번호</label>
                    <input type="password" id="tagLine" name="tagLine" required>
                </div>
                <div class="remember-me">
                    <input type="checkbox" id="remember">
                    <label for="remember">로그인 상태 유지</label>
                </div>
                <button type="submit" class="btn">로그인</button>
                <div class="links">
                    <a href="https://signup.kr.riotgames.com/">계정 만들기</a>
                    <a href="https://account.kr.riotgames.com/">비밀번호를 잊으셨나요?</a>
                </div>
                <div class="footer">
                    <p>© 2025 Riot Games, Inc. All rights reserved.</p>
                    <img class="riot-logo" src="https://www.riotgames.com/darkroom/300/b3e8d54806297a532026ebd1af30e770:e1cd98b316be2942632f33b271785e95/riot-fist-container-black-rbg-2022.png" alt="Riot Games">
                </div>
            </form>
    </div>

<script src="/js/login.js"></script>
</body>
</html>