<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="hello.lol.item.repository.ItemDao">

    <!-- 특정 타입의 아이템 데이터를 가져오는 쿼리 -->
    <select id="findAllItemList" parameterType="string" resultType="map">
        SELECT
        cm.crafted_id AS craftedId,
        ci.crafted_name AS craftedName,
        ci.image_url AS craftedImageUrl,
        mi1.material_name AS materialName1,
        mi1.image_url AS materialImageUrl1,
        mi2.material_name AS materialName2,
        mi2.image_url AS materialImageUrl2
        FROM
        crafted_material_mapping cm
        JOIN
        crafted_item ci ON cm.crafted_id = ci.crafted_id
        JOIN
        material_item mi1 ON cm.material_id_1 = mi1.material_id
        JOIN
        material_item mi2 ON cm.material_id_2 = mi2.material_id
        WHERE
        <choose>
            <when test="type == 'PhysicalWeapon'">
                cm.crafted_id IN (1,2,3,4,8,11,12,15,24,32,34,35)
            </when>
            <when test="type == 'MagicItem'">
                cm.crafted_id IN (14,5,6,9,13,26,27,28,29,30)
            </when>
            <when test="type == 'ShieldItem'">
                cm.crafted_id IN (33,7,10,16,17,18,19,20,21,22,23,25,31)
            </when>
        </choose>
    </select>

</mapper>