<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="hello.lol.item.repository.ItemDao">

    <!-- 특정 타입의 아이템 데이터를 가져오는 쿼리 -->
    <select id="findAllItemList" resultType="hello.lol.item.repository.ItemDto">
        SELECT crafted_id AS craftedId,
        material_id_1 AS materialId1,
        material_id_2 AS materialId2
        FROM crafted_material_mapping
        WHERE
        <choose>
            <when test="type == 'PhysicalWeapon'">
                crafted_id = 1
            </when>
            <when test="type == 'MagicItem'">
                crafted_id = 14
            </when>
            <when test="type == 'ShieldItem'">
                crafted_id = 33
            </when>
        </choose>
    </select>

</mapper>