<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="hello.lol.member.dao.MemberDao">

    <!-- 회원가입 -->
    <insert id="insertMember" parameterType="hello.lol.member.vo.MemberVo">
        INSERT INTO member (
        member_id,
        member_pwd
        )
        VALUES (
        #{memberId},
        #{memberPwd}
        )
    </insert>

    <!-- 아이디 중복 체크 쿼리 -->
    <select id="MemberIdCheck" parameterType="string" resultType="int">
        SELECT COUNT(*)
        FROM member
        WHERE member_id = #{memberId}
    </select>
</mapper>
